<!-- ===== post-image.vto TEMPLATE START ===== -->
<div class="w-full mt-20"><img class="opacity-90 rounded-md cover" src="{{ image }}" alt="Description of image"></div>
<!-- ===== post-image.vto TEMPLATE END ===== -->
