<!-- ===== search-modal.vto TEMPLATE START ===== -->
<div id="searchModal" class="fixed top-0 left-0 z-1000 w-full h-full overflow-auto hidden">
  <div class="relative w-3/4 h-3/4 mx-auto mt-24 overflow-auto p-5 bg-white/95 dark:bg-zinc-800/95 border border-zinc-100 dark:border-zinc-700/40 rounded-lg shadow-md">
    <div class="block text-right items-right font-bold text-sm">
      <a id="modal-close" href="#">{{ i18n.search.close_link }}</a>
    <div id="search" class="text-left mt-6" tabindex="0"></div>
  </div>
</div>
<!-- ===== search-modal.vto TEMPLATE END ===== -->
