<!-- ===== skiplink.vto TEMPLATE START ===== -->
<a href="#main-content" 
  class="absolute top-0 left-0 transform -translate-x-full z-[9999] focus-visible:translate-x-0 focus-visible:p-4 focus-visible:bg-sky-600 focus-visible:text-white focus-visible:border-2 focus-visible:border-sky-800 focus-visible:rounded-md focus-visible:underline focus-visible:font-semibold focus-visible:transition-all focus-visible:duration-300 focus-visible:ease-in-out focus:outline-none"
  id="skip-to-content"
  role="link"
  aria-label="{{ i18n.home.skip_to_main_content_aria }}"
  title="{{ i18n.home.skip_to_main_content_label }}"
  tabindex="0"   
>
  {{ i18n.home.skip_to_main_content_label }}
</a>
<!-- ===== skiplink.vto TEMPLATE END ===== -->
