@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/container-queries";
/* @plugin "daisyui@latest"; */
/* @plugin "flyonui@2.0.0"; */
/* @plugin "tailwind-every-layout@latest"; */
@import "css/alerts.css";
/* @import "css/vendor/splidejs/splide-skyblue.min.css"; */

@layer base {
  a {
    @apply text-stone-500 dark:text-stone-100 hover:text-sky-600 dark:hover:text-sky-400; /* Example base link styles */
    transition: color 0.15s ease-in-out;
    text-decoration-thickness: 1px; /* Set your desired default thickness here as well */
    text-decoration-color: theme('colors.zinc.500'); /* Match the text color */
  }

  /* You could also style specific link states globally */
  a:focus {
    @apply outline-none ring-2 ring-sky-700/50 ring-offset-2;
  }
}
@layer components {
  /* Apply base styles to tables with not-prose */
  table not-prose {
    @apply table-fixed w-full text-left text-sm; 
  }

  table.not-prose thead {
    @apply bg-stone-50 text-stone-700 dark:bg-stone-600 dark:text-stone-300 text-left;
  }

  table.not-prose th,
  table.not-prose td {
    @apply p-2;
  }

  table.not-prose th {
    @apply font-semibold;
  }

  table.not-prose tbody {
    @apply divide-y divide-stone-200 dark:divide-stone-700;
  }
  table.not-prose caption {
    @apply caption-bottom text-left p-2 text-xs text-stone-400;
  }
    /* Override the prose <a> tag hover classes */
  .prose :where(a) {
    @apply hover:opacity-60;
  }

  .prose figure + p {
    margin-top: 1.3333333em; /* Add top margin to paragraphs after figures */
  }

  .prose p {
    margin-bottom: 1.3333333em; /* Add bottom margin to all paragraphs */
  }

  /* Optional: Adjust top margin for the very first paragraph in the prose block */
  .prose > *:first-child:is(p) {
    margin-top: 0;
  }
}
@layer utilities {
  .transition-max-w {
    transition: max-width 0.5s ease-in-out;
  }
}

/* prose-a:text-sky-900 dark:prose-a:text-sky-200  prose-a:decoration-sky-700 prose-a:underline  */

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* 23.4375 is 375rem, 27.5 is 440px, 30rem 480px, 90rem 1440px, 100rem 1600px, 108rem 1728px, 120rem 1920px, 160rem 2560px */
  --breakpoint-2xs: 23.4375rem;
  --breakpoint-1xs: 27.5rem;
  --breakpoint-xs: 30rem;
  --breakpoint-1xl: 90rem;
  --breakpoint-2xlb: 100rem;
  --breakpoint-3xl: 108rem;
  --breakpoint-4xl: 120rem;
  --breakpoint-5xl: 160rem;
  --default-font-feature-settings: "kern" 1, "liga" 1, "clig" 1, "calt" 1, "palt" 0, "zero" 1, "sups" 0, "frac" 0, "ordn" 0, "smcp" 0, "onum" 0, "tnum" 0, "swsh" 0, "ss01" 0, "ss02" 0, "ss03" 0, "ss04" 0, "ss05" 0, "ss06" 0, "ss07" 0, "ss08" 0, "ss09" 0;
  --default-font-variant-ligatures: common-ligatures;
  --header-top: 1rem;
  --font-sans: textface, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* eSolia Yellow Logo Color #FFBC68 is 500 */
  --color-esoliaamber-50: oklch(98.69% 0.021 95.28);
  --color-esoliaamber-100: oklch(97.31% 0.037 91.69);
  --color-esoliaamber-200: oklch(94.19% 0.068 87.91);
  --color-esoliaamber-300: oklch(91.16% 0.088 82.51);
  --color-esoliaamber-400: oklch(87.86% 0.106 76.63);
  --color-esoliaamber-500: oklch(84.08% 0.127 70.8);
  --color-esoliaamber-600: oklch(78.6% 0.169 67.8);
  --color-esoliaamber-700: oklch(71.02% 0.152 71.84);
  --color-esoliaamber-800: oklch(61.31% 0.128 78.57);
  --color-esoliaamber-900: oklch(49.21% 0.101 86.39);
  --color-esoliaamber-950: oklch(39.79% 0.081 91.8);
  /* eSolia Blue Logo Color #FFBC68 is 800 */
  --color-esoliablue-50: oklch(90.41% 0.024 212.91);
  --color-esoliablue-100: oklch(88.36% 0.026 221.6);
  --color-esoliablue-200: oklch(83.99% 0.035 233.13);
  --color-esoliablue-300: oklch(79.87% 0.042 243.84);
  --color-esoliablue-400: oklch(74.61% 0.054 254.73);
  --color-esoliablue-500: oklch(68.8% 0.07 263.14);
  --color-esoliablue-600: oklch(60.47% 0.097 270.94);
  --color-esoliablue-700: oklch(51.84% 0.128 274.22);
  --color-esoliablue-800: oklch(33.29% 0.09 278.66);
  --color-esoliablue-900: oklch(27.79% 0.061 275.21);
  --color-esoliablue-950: oklch(27.06% 0.05 269.88);
  /* eSolia Pale Yellow Logo Color #FFFAD7 is 500 */
  --color-esoliapaleyellow-50: oklch(99.67% 0.005 95.1);
  --color-esoliapaleyellow-100: oklch(99.67% 0.005 95.1);
  --color-esoliapaleyellow-200: oklch(99.21% 0.017 99.59);
  --color-esoliapaleyellow-300: oklch(98.88% 0.022 98.63);
  --color-esoliapaleyellow-400: oklch(98.41% 0.035 100.11);
  --color-esoliapaleyellow-500: oklch(98.01% 0.046 100.49);
  --color-esoliapaleyellow-600: oklch(90.95% 0.181 99.31);
  --color-esoliapaleyellow-700: oklch(83.09% 0.172 97.79);
  --color-esoliapaleyellow-800: oklch(71.89% 0.149 98.21);
  --color-esoliapaleyellow-900: oklch(56.97% 0.118 98.01);
  --color-esoliapaleyellow-950: oklch(44.52% 0.092 98.87);

  /* base shades */
  /* --color-base-50: oklch(98.69% 0.003 303.69);
  --color-base-100: oklch(97.31% 0.005 300.99);
  --color-base-200: oklch(94.19% 0.008 302.94);
  --color-base-300: oklch(87.86% 0.015 307.53);
  --color-base-400: oklch(78.6% 0.023 309.13);
  --color-base-500: oklch(68.8% 0.029 309.99);
  --color-base-600: oklch(60.47% 0.034 310.3);
  --color-base-700: oklch(51.84% 0.037 310.56);
  --color-base-800: oklch(46.6% 0.038 310.92);
  --color-base-900: oklch(42.76% 0.038 311.68);
  --color-base-950: oklch(27.06% 0.033 316.77); */

  --color-base-50: var(--color-gray-50);
  --color-base-100: var(--color-gray-100);
  --color-base-200: var(--color-gray-200);
  --color-base-300: var(--color-gray-300);
  --color-base-400: var(--color-gray-400);
  --color-base-500: var(--color-gray-500);
  --color-base-600: var(--color-gray-600);
  --color-base-700: var(--color-gray-700);
  --color-base-800: var(--color-gray-800);
  --color-base-900: var(--color-gray-900);
  --color-base-950: var(--color-gray-950);

  /* accent Shades */
  /* --color-accent-50: oklch(98.01% 0.003 150.32);
  --color-accent-100: oklch(94.75% 0.005 150.03);
  --color-accent-200: oklch(88.36% 0.009 150.49);
  --color-accent-300: oklch(80.36% 0.014 150.95);
  --color-accent-400: oklch(71.89% 0.02 151.79);
  --color-accent-500: oklch(60.47% 0.029 152.44);
  --color-accent-600: oklch(51.84% 0.036 152.77);
  --color-accent-700: oklch(45.52% 0.038 153.15);
  --color-accent-800: oklch(39.79% 0.04 153.57);
  --color-accent-900: oklch(35.29% 0.042 153.85);
  --color-accent-950: oklch(21.9% 0.04 155.54); */

  --color-accent-50: var(--color-stone-50);
  --color-accent-100: var(--color-stone-100);
  --color-accent-200: var(--color-stone-200);
  --color-accent-300: var(--color-stone-300);
  --color-accent-400: var(--color-stone-400);
  --color-accent-500: var(--color-stone-500);
  --color-accent-600: var(--color-stone-600);
  --color-accent-700: var(--color-stone-700);
  --color-accent-800: var(--color-stone-800);
  --color-accent-900: var(--color-stone-900);
  --color-accent-950: var(--color-stone-950);

  /* --color-accent-50: var(--color-yellow-50);
  --color-accent-100: var(--color-yellow-100);
  --color-accent-200: var(--color-yellow-200);
  --color-accent-300: var(--color-yellow-300);
  --color-accent-400: var(--color-yellow-400);
  --color-accent-500: var(--color-yellow-500);
  --color-accent-600: var(--color-yellow-600);
  --color-accent-700: var(--color-yellow-700);
  --color-accent-800: var(--color-yellow-800);
  --color-accent-900: var(--color-yellow-900);
  --color-accent-950: var(--color-yellow-950); */

  /* Yellow Shades */
  --color-yellow-50: oklch(97.59% 0.015 84.79);
  --color-yellow-100: oklch(93.65% 0.033 77.94);
  --color-yellow-200: oklch(87.55% 0.06 73.36);
  --color-yellow-300: oklch(80.54% 0.092 70.22);
  --color-yellow-400: oklch(74.61% 0.123 68.42);
  --color-yellow-500: oklch(68.8% 0.154 67.1);
  --color-yellow-600: oklch(60.47% 0.178 65.51);
  --color-yellow-700: oklch(51.84% 0.182 63.87);
  --color-yellow-800: oklch(45.52% 0.176 62.48);
  --color-yellow-900: oklch(39.79% 0.162 61.32);
  --color-yellow-950: oklch(21.9% 0.136 56.32);
  /* Pink Shades */
  --color-pink-50: oklch(98.01% 0.005 350.21);
  --color-pink-100: oklch(95.9% 0.014 349.54);
  --color-pink-200: oklch(91.97% 0.028 349.34);
  --color-pink-300: oklch(86.1% 0.049 349.22);
  --color-pink-400: oklch(78.6% 0.076 349.34);
  --color-pink-500: oklch(71.89% 0.107 349.57);
  --color-pink-600: oklch(60.47% 0.155 349.88);
  --color-pink-700: oklch(51.84% 0.176 350.2);
  --color-pink-800: oklch(45.52% 0.183 350.39);
  --color-pink-900: oklch(39.79% 0.184 350.6);
  --color-pink-950: oklch(21.9% 0.172 351.91);

  /* Animation Variables */
  --animate-marquee: marquee 12s linear infinite;
  --animate-rightMarquee: rightMarquee 300s linear infinite;
  --animate-slowMarquee: marquee 300s linear infinite;
  --animate-verticalMarquee: vertical 30s linear infinite;
}

.lede {
  @apply text-lg font-light leading-relaxed;
}

body article > div > p:first-of-type {
  @apply text-base text-lg lg:text-xl font-light leading-relaxed text-stone-800 dark:text-stone-200;
}

body article > div > figure > picture > img {
  @apply shadow-md rounded-md;
}

/* MDN keyboard shortcut style for kbd tag */
kbd {
  @apply bg-stone-200 rounded border border-stone-400 shadow-md text-stone-800 inline-block text-[0.85em] font-semibold leading-none px-1 py-0.5 whitespace-nowrap
}

/*----------------------------
* 検索ボックス via Lume Pagefind
*----------------------------*/
:root {
  --pagefind-ui-scale: 1;
  --pagefind-ui-primary: var(--color-sky-500);
  --pagefind-ui-text: var(--color-stone-900);
  --pagefind-ui-background: #ffffff;
  --pagefind-ui-border: var(--color-stone-200);
  --pagefind-ui-tag: var(--color-stone-200);
  --pagefind-ui-border-width: 1px;
  --pagefind-ui-border-radius: 8px;
  --pagefind-ui-image-border-radius: 8px;
  --pagefind-ui-image-box-ratio: 3 / 2;
  --pagefind-ui-font: textface, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  .dark {
    --pagefind-ui-primary: var(--color-sky-500);
    --pagefind-ui-text: var(--color-stone-200);
    --pagefind-ui-background: var(--color-stone-900);
    --pagefind-ui-border: var(--color-stone-700);
    --pagefind-ui-tag: var(--color-sky-400);
  }
}
#search mark {
  background-color: var(--color-yellow-300);
}

/*----------------------------
* テキスト選択ハイライト
*----------------------------*/
mark {
  background-color: var(--color-yellow-300);
}
:root {
  ::selection {
    background-color: var(--color-pink-300);
    color: var(--color-stone-900); 
  }
  
/* light-theme-here */

  .dark {
    ::selection {
      background-color: var(--color-sky-300);
      color: var(--color-stone-900);
    }

/* dark-theme-here */

  }
}


/*----------------------------
* Hamburger 開閉ボタン
*----------------------------*/
.mobile-menu-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #fff; */
  color: #fff;
  border: none;
}

/*----------------------------
* Hamburger Menu 本体
*----------------------------*/
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #808080;
  background-color: rgba(85, 85, 85, 0.7); /* Gray background with 70% opacity */
}
.mobile-menu__item{
  width: 100%;
  height: auto;
  padding: .5em 1em;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
}

/*----------------------------
* Hamburger アニメーション部分
*----------------------------*/

/* Hamburger アニメーション前のメニューの状態 */
.mobile-menu {
  transform: translateX(100vw);
  transition: all .3s linear;
}
/* Hamburger アニメーション後のメニューの状態 */
.mobile-menu.is-active {
  transform: translateX(0);
}

/* lume-google-fonts-here */